
body{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}


#container-1{
    width:600px;
    height:300px;
    
}
#container-2{
    max-width:800px;
    line-height: 2;
    word-spacing:6px;
    
    margin:auto;
    background-color: bisque;
    color:blue
}
.container{
background-color: bisque;
    color:blue;
   

}
#container-3{
    max-width: 700px;
    
    
    margin:auto;
    
}

#container4{
    border:solid;
}
#container5{
    border:8px dashed red;
}
#container6{
    border:thick double blue;
}
#container7{
    border-left: 2rem blue;

}#container8{
    border:3px solid grey;
    /* border-style: dotted; */
    border-left-width: 4px;
    border-left-color: brown;
}
#container9{
    
    border:2px solid red;
    height:10vh;
    width:20%;
    background-color:red ;
    margin:2rem;
    border-radius: 2rem;
}
#container10{
    
    border:2px solid red;
    height:10vh;
    width:20%;
    background-color:red ;
    border-radius: 10px 20px 30px 40px;
}

img{
    height:40vh;
    width:200px;
    border-radius: 50%;
    border:2px soild black;
}
/* padding */
#padding{
    padding:1rem 1rem 1rem 1rem;
    background-color:red;
}
 /* padding:2rem 2rem(Top-bottom , left-right)
padding-right:2rem;
padding-left:2rem;
padding-top:2rem;
padding-bottom:2rem;  */

margin */
button{
   padding: 0.7rem;
   margin:2rem 2rem;
}


/* display */
.display-1{
    /* display:inline; */
    border:2px solid blue;


}
.display-2{
    /* display: block; */
    border:2px solid blue;
    margin: 4px 2px;
}
.display-3{
    height:10vh;
    width:20%;
    border:2px solid blue;
    background-color: #582f0e;
    display: block;

}
/* Absolute Units-% */
/* section{
    background-color: #ca6702;
    width:400px;
    height:400px;
    border:2px solid red;
} */
#absolute-units{
    background-color: #ffb703;
    width:50%;   
    height:50%;
}
h1{
    font-size: 40px;
    border:2px solid red;
    line-height: 200%;}
    /* 200% of 40 is 80px 
    line-height:80px
} */

article{
    font-size: 10px;
}
h2{
    font-size: 3em;
}
/* Actual size of h2 is less than it appear here because it is set relative to parent element. */


#ems-para{
    font-size: 3em;
}
/* this button size shape relative to font-size of article .  */
#em-button{
    font-size: 1em;
    border:0.6em solid black;
    border-radius: 1.8em;
}

#em-outside-button{
    font-size: 1em;
    border:0.6em solid black;
    border-radius: 1.8em;
}
ul{
    font-size:2em;
}
ul{
    font-size:2rem;
}
html{
    font-size:16px;
}
/* em is good making form and put everything relative while rem is good in overall manner. */
/* Alpha channel and Opacity */
/* #alpha-channel-1{
    height:400px;
    width:400px;
    background-color:#bb3e03 ;
}
#alpha-channel-2{
    height:10rem;
    width:10rem;
    background-color: rgba(125,225,101, 0.7); */
    /* background-color: rgba(125,225,101, 0.2);
    background-color: rgba(125,225,101, 1);
    background-color: rgba(125,225,101, 0.7); */
/* } */



#alpha-channel-1{
    height:400px;
    width:400px;
    background-color:#bb3e03 ;
    
}
#alpha-channel-2{
    height:10rem;
    width:10rem;
    background-color: #ee9b00;
    opacity:0.4 ;
    /* font-size: 1em;
    opacity:0;
    opacity:1;
    opacity:0.7;
} */


